<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Password Game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
<div id="page-container">

<nav class="level">
    <div class="leve-left">
        <section class="section">
            <div class="level-item">
                <div class="container">
                    <h2 class="title is-2 is-size-3-mobile has-text-danger">Password Game</h2>
                    <p class="subtitle is-4 is-size-5-mobile">Guaranteed to make your head explode!</p>
                </div>
            </div>
        </section>
    </div>
</nav>

<main id="content-wrap">
    <div class="container is-fluid">
        <div class="container">
            <div class="box">
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="the fun starts here..."
                               oninput="sendPassword(this.value)" value="">
                    </div>
                </div>
                <noscript>
                    <h2 class="title has-text-danger">
                        Seems your browser doesn't support Javascript! Websocket relies on Javascript being
                        enabled. Please enable
                        Javascript and reload this page!
                    </h2>
                </noscript>
            </div>
            <div class="columns is-flex-direction-column">
                <div class="column">
                    <p class="title">Rule 1</p>
                    <p>Password must be at least 5 characters</p>
                </div>

                <div class="column">
                    <p class="title">Rule 2</p>
                    <p>Password must include a number</p>
                </div>

                <div class="column">
                    <p class="title">Rule 3</p>
                    <p>Password must include an uppercase letter</p>
                </div>

                <div class="column">
                    <p class="title">Rule 4</p>
                    <p>Password must include a special character</p>
                </div>

                <div class="column">
                    <p class="title">Rule 5</p>
                    <p>The Digits in your password must add up to 42</p>
                </div>

                <div class="column">
                    <p class="title">Rule 6</p>
                    <p>Password must include a month of the year</p>
                </div>

                <div class="column">
                    <p class="title">Rule 7</p>
                    <p>Password must include a roman numeral</p>
                </div>

                <div class="column">
                    <p class="title">Rule 8</p>
                    <p>Password must include one of our sponsors: Bechtle, Apple, und DHBW</p>
                </div>

                <div class="column">
                    <p class="title">Rule 9</p>
                    <p>Password must include the atomic symbol for Dopamine (C8H11NO2)</p>
                </div>

                <div class="column">
                    <p class="title">Rule 10</p>
                    <p>Password must include the year Rome was founded (753 BC)</p>
                </div>

                <div class="column">
                    <p class="title">Rule 11</p>
                    <p>Password must include a color from the rainbow</p>
                </div>

                <div class="column">
                    <p class="title">Rule 12</p>
                    <p>Password must include an animal name that starts with the letter “L”</p>
                </div>

            </div>
        </div>
    </div>
</main>

<footer id="footer" class="footer">
    <div class="content has-text-centered">
        <p>
            Project by <strong>Gabriel Ramm</strong>, <strong>Maurice Baumann</strong> und <strong>Fabio
            Ruhland</strong>
        </p>
    </div>
</footer>

</div>
</body>
</html>
